a {
  text-decoration:none;
  color:black;
}
h1 {
  font-size:45px;
  text-align:center;
  margin:30px;
  padding-top:30px;
}
h3 {
  padding:30px;
  text-align:center;
  margin:0;
}
h6 {
  margin:0;
  text-align:right;
}
